NEXT_PUBLIC_SUPABASE_URL=https://ncyerayycwkqytznnkrs.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_2-Oj-6K0LcV5xAHtqbO7Eg_7IDSN1ki
NEXT_PUBLIC_CONTROL_PLANE_URL=http://localhost:8787
NEXT_PUBLIC_SENTINEL_AGENT_URL=http://localhost:8789
